body {
    text-align: center;
    background-color: rgb(216, 216, 216);
    font-size: 15px;
    line-height: 25px;
}

li {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: blanchedalmond;
    line-height: 10px;
    padding: 30px;
    margin: 0;
}

footer {
    background-color: black;
    color: blanchedalmond;
    padding: 20px;
    bottom: 0;
}

button {
    background-color: rgb(121, 128, 160);
    border-radius: 10px;
    border: none;
    padding: 20px;
    color: blanchedalmond;
    
}

.para {
    line-height: 35px;
}

#ff_red {
    font-family: 'Redacted Script', cursive;;
}

#ff_bebas {
    font-family: 'Bebas Neue', cursive;
}

#ff_mont {
    font-family: 'Montserrat', sans-serif;
}